<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote </title>
</head>
<body>
    <div class="header" style="background-color: #007bff; color: #fff; padding: 10px; text-align: center; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
        <h2 style="margin: 0;">Brainstation 23 PLC</h2>
    </div>

    <div class="sub-header" style="background-color: #f8f9fa; color: #007bff; padding: 10px; text-align: center; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
        <h3 style="margin: 0;">Voting App for Meal</h3>
    </div>
    <div style="text-align: center;">
        <h2>Vote for your Meal!</h2>
        <p>just to let you know you are logged in !!!</p>
        <a href="{{url_for('logout')}}">logout</a>
    </div>
    
</body>
</html>